/*  
    Based on Bootstrap's Cover template
    modified by Daniel Profili
*/


/*
 * Globals
 */

/* Links */

a, a:focus, a:hover {
    color: #fff;
}

/* Custom default button */

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
 * Base structure
 */

html, body {
    height: 100%;
    min-height: 100%;
    /*width: 100%;*/
    background-color: #333;
    background: linear-gradient(#333, #222222) fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#portrait {
    display: block;
    margin: 0 auto;
    border-radius: 35% !important;
    /* height: 50%; */
    max-height: 20rem;
    /* margin-top: 120px; */
    vertical-align: middle;
}

/* Aligns the carousel captions to the top instead of the bottom
Used for the project carousel because of inconveniently colored images */
#projects-carousel .carousel-caption {
    top: 0;
    bottom: auto;
}

/* Does the same with the indicators, but with a 0.5em spacing from the top */
#projects-carousel .carousel-indicators {
    top: 0.5em;
    bottom: auto;
}

h1.main-heading {
    font-size: 10rem;
    text-shadow: 5px 5px 50px #000000;
    box-shadow: #fff;
    /* margin-bottom: 6vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    vertical-align: center;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
    /* max-width: 42em; */
    max-width: 85%;
}

/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    /* font-weight: 700; */
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-item.nav-link.fab, .nav-item.nav-link.far {
    font-size: 27px;
    color: white;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        /* float: right; */
        width: 100%;
        max-width: 80em;
    }
}

.nav-item .far+.fab {
    font-size: 27px !important;
    /* color: white; */
}

.carousel {
    width: 50%;
    margin: auto;
}

/* Reminder: use <i>s for icons in buttons, and <a>s for icons as buttons */
/* i.far, i.fab {
    padding: 20px;
    font-size: 100%;
} */

/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, .5);
}