---
---

@import "{{ site.theme }}";

// @import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
// @import "minima/initialize";

.downloads li {
    width: 134px;
    border-right: none !important;
}

#logo {
    border-radius: 40%;
    max-width: 50%;
    text-align: center;
}
