---
---

@import "{{ site.theme }}";

// @import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
// @import "minima/initialize";

.downloads li {
    width: 134px;
    border-right: none !important;
}

#logo {
    border-radius: 40%;
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    margin-block: 20px;
    font-variant: all-small-caps;
}
